@import "tailwindcss";

@theme {
  /* Colors */

  --color-bg: #f4f2f0;
  --color-font: #111111;
  --color-light: #ebeae8;
  --color-dark: #5f5f5f;

  /* Colors CChaperon Rouge */

  --color-red: #d92626;

  /* Colors Alice */

  --color-alice-light: #3a8194;
  --color-alice-dark: #10657d;
  /* Colors Peter */

  --color-peter-light: #3b5220;
  --color-peter-dark: #23380b;
  /* Colors Barbe */

  --color-barbe-light: #1a3156;
  --color-barbe-dark: #0d1c34;

  /* Fonts Family */
  --font-title: "Almendra", serif;
  --font-sb: "Aleo", serif;
  --font-texte: "Aleo", serif;

  /* Fonts Weight  */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;

  /* Font Sizes */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
}
body {
  background-color: var(--color-bg);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
