@import "tailwindcss";

@theme {
  /* Colors */

  --color-bg: #ffffff;
  --color-font: #111111;

  /* Fonts Family */
  --font-title: "Satoshi", sans-serif;
  --font-sb: "Satoshi", sans-serif;
  --font-texte: "Satoshi", sans-serif;

  /* Fonts Weight  */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-bold: 700;

  /* Font Sizes */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */
}
body {
  font-family: "Satoshi", sans-serif !important;
  font-weight: var(--weight-regular);
  background-color: var(--color-bg);
  color: var(--color-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
